<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Box Model</title>
  </head>
  
  <header>Maquetación de sitios webs</header>
  <body>
    <div>
        Caja 1
    </div>
    <div>
        Caja 2
    </div>
    
    <div class="arriba">
      <p>ARRIBA</p>
    </div>
    <div class="abajo">
      <p>ABAJO</p>
    </div>
  </body>

  <section>HTML + CSS + JS</section>

  <footer>No dudes en contactarnos</footer>
</html>